In [58]:
import pandas as pd
import numpy as np

In [24]:
rating= ['AAA IS', 'AA3', 'A1', 'AAA', 'A+ IS', 'AAA (S)',
       'AA2 (S)', 'AA1', 'AA2', 'AA1 (S)', 'AA+ IS','AA+', 'AA IS', 'AAA IS (FG)', 'AAA (FG)', 'AAA (BG)', 'A3',
       'AA- IS', 'A1 (S)', 'AA-','A IS', 'A-','AA3 (S)', 'A- IS', 'AA- IS (CG)', 'A2', 'AA', 'A+ IS (S)', 'A2 (S)']

In [25]:
value_files = ['201907/BPAMERP20190731.csv','201908/BPAMERP20190830.csv','201909/BPAMERP20190930.csv',
            '201910/BPAMERP20191031.csv','201911/BPAMERP20191129.csv','201912/BPAMERP20191231.csv','202001/BPAMERP20200131.csv',
            '202002/BPAMERP20200228.csv','202003/BPAMERP20200331.csv','202004/BPAMERP20200430.csv',
            '202005/BPAMERP20200529.csv','202006/BPAMERP20200630.csv','202007/BPAMERP20200730.csv',
            '202008/BPAMERP20200828.csv','202009/BPAMERP20200930.csv','202010/BPAMERP20201030.csv']

type_files = ['201907/BPAMERS20190731.csv','201908/BPAMERS20190830.csv','201909/BPAMERS20190930.csv',
            '201910/BPAMERS20191031.csv','201911/BPAMERS20191129.csv','201912/BPAMERS20191231.csv','202001/BPAMERS20200131.csv',
            '202002/BPAMERS20200228.csv','202003/BPAMERS20200331.csv','202004/BPAMERS20200430.csv',
            '202005/BPAMERS20200529.csv','202006/BPAMERS20200630.csv','202007/BPAMERS20200730.csv',
            '202008/BPAMERS20200828.csv','202009/BPAMERS20200930.csv','202010/BPAMERS20201030.csv']


df=pd.DataFrame()
 
for v,t in zip(value_files,type_files):
    df_temp = pd.read_csv('./BPAM Evaluated Prices Rated Range Prices (LT)/'+v)
    df_tempT = pd.read_csv('./BPAM Evaluated Prices Rated Range Prices (LT)/'+t)
    df_temp= df_temp.merge(df_tempT,on='STOCK CODE')
    df_temp = df_temp[df_temp['BOND CLASS']!='Quasi-Govt'][df_temp['RATING'].isin(rating)]
    
    if df.empty:
        df= df_temp
    else:
        df= df.append(df_temp)

C:\Users\jowen\anaconda3\envs\azureml\lib\site-packages\ipykernel_launcher.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [26]:
df.head()

,STOCK CODE,ISIN CODE_x,STOCK NAME_x,VALUE DATE,EVAL UPPER THRESHOLD YIELD,EVAL MID YIELD,EVAL LOWER THRESHOLD YIELD,EVAL LOWER THRESHOLD PRICE,EVAL MID PRICE,EVAL UPPER THRESHOLD PRICE,...,BOND CURRENT OUTSTANDING AMOUNT(MYR MIL),REMAINING TENURE,ISSUER FACILITY LIMIT(MYR MIL),ISSUER OUTSTANDING AMOUNT(MYR MIL),ISLAMIC CONCEPT,SECTOR,RATING EFFECTIVE DATE,CALLABLE/PUTTABLE,CONVERTIBLE/EXCHANGABLE,RATING ACTION
44,DZ012851,MYBDZ0128511,TENAGA IBONDS 0.00000% 13.12.2021,01-AUG-2019,3.431,3.392,3.353,108.263,108.356,108.448,...,2000,3Y,16000,7000,BAI BITHAMAN AJIL,INFRASTRUCTURES AND UTILITIES,12-APR-2019,N,N,Affirm
45,DZ021250,MYBDZ0212505,GDC PUTRA 0.00000% 02.12.2022,01-AUG-2019,3.724,3.680,3.636,110.959,111.105,111.251,...,50,5Y,300,50,BAI BITHAMAN AJIL,INFRASTRUCTURES AND UTILITIES,31-OCT-2018,N,N,Affirm
63,VP070896,MYBVP0708968,JEV IMTN 0% 12.11.2019,01-AUG-2019,3.572,3.521,3.470,101.553,101.568,101.583,...,70,3M,4847,1700,ISTISNA,INFRASTRUCTURES AND UTILITIES,26-DEC-2018,N,N,Reaffirm
64,VR060698,MYBVR0606986,JEV IMTN 0% 12.11.2019,01-AUG-2019,3.577,3.521,3.465,101.456,101.472,101.488,...,20,3M,4847,1700,ISTISNA,INFRASTRUCTURES AND UTILITIES,26-DEC-2018,N,N,Reaffirm
65,VQ061773,MYBVQ0617738,JEV IMTN 0% 12.11.2019,01-AUG-2019,3.577,3.521,3.465,101.497,101.513,101.529,...,50,3M,4847,1700,ISTISNA,INFRASTRUCTURES AND UTILITIES,26-DEC-2018,N,N,Reaffirm

In [27]:
df.describe()

,EVAL UPPER THRESHOLD YIELD,EVAL MID YIELD,EVAL LOWER THRESHOLD YIELD,EVAL LOWER THRESHOLD PRICE,EVAL MID PRICE,EVAL UPPER THRESHOLD PRICE,MODIFIED DURATION,CONVEXITY,EVAL UPPER THRESHOLD YIELD CHANGE,EVAL MID YIELD CHANGE,...,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,PREVIOUS COUPON RATE,NEXT COUPON RATE,FACILITY AMOUNT/FACILITY LIMIT(MYR MIL),FACILITY OUTSTANDING AMOUNT(MYR MIL),BOND ISSUE AMOUNT(MYR MIL),BOND CURRENT OUTSTANDING AMOUNT(MYR MIL),ISSUER FACILITY LIMIT(MYR MIL),ISSUER OUTSTANDING AMOUNT(MYR MIL)
count,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,...,24674.000000,24585.000000,22847.000000,24583.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000,24674.000000
mean,3.825020,3.749358,3.673695,105.561104,105.920536,106.282446,4.408572,35.620312,-0.001454,-0.001856,...,1.100474,2.024324,5.267517,5.205528,3258.670260,1994.125598,217.240293,216.730040,7491.804572,2884.476939
std,0.821504,0.814155,0.807698,6.367774,6.513550,6.670974,3.059864,43.029898,0.162494,0.159983,...,1.193936,0.322536,1.277208,1.269212,4414.466985,2787.901979,334.574481,334.573699,14093.200216,4297.997560
min,1.964000,1.926000,1.888000,16.263000,16.703000,17.155000,0.000000,0.000000,-0.278000,-0.280000,...,0.000000,1.000000,0.000000,0.000000,5.000000,1.000000,1.000000,1.000000,110.000000,1.000000
25%,3.349250,3.273000,3.195000,101.677000,101.876250,102.077000,1.889000,4.618500,-0.011000,-0.011000,...,0.000000,2.000000,4.725000,4.660000,580.000000,365.000000,35.000000,35.000000,789.000000,500.000000
50%,3.738000,3.670000,3.603000,103.936500,104.241000,104.567500,3.824000,17.445000,-0.002000,-0.002000,...,0.000000,2.000000,5.100000,5.050000,1700.000000,980.000000,90.000000,90.000000,3000.000000,1415.000000
75%,4.161000,4.088750,4.019000,108.279000,108.711750,109.208750,6.592000,52.211750,0.000000,0.000000,...,2.300000,2.000000,5.530000,5.500000,4000.000000,2595.000000,250.000000,250.000000,8400.000000,3640.000000
max,13.511000,13.351000,13.191000,138.803000,139.087000,139.372000,19.059000,372.366000,6.756000,6.700000,...,4.300000,12.000000,22.180000,22.180000,25000.000000,18900.000000,3500.000000,3500.000000,95110.000000,29900.000000

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24674 entries, 44 to 2208
Data columns (total 51 columns):
STOCK CODE                                  24674 non-null object
ISIN CODE_x                                 24674 non-null object
STOCK NAME_x                                24674 non-null object
VALUE DATE                                  24674 non-null object
EVAL UPPER THRESHOLD YIELD                  24674 non-null float64
EVAL MID YIELD                              24674 non-null float64
EVAL LOWER THRESHOLD YIELD                  24674 non-null float64
EVAL LOWER THRESHOLD PRICE                  24674 non-null float64
EVAL MID PRICE                              24674 non-null float64
EVAL UPPER THRESHOLD PRICE                  24674 non-null float64
MODIFIED DURATION                           24674 non-null float64
CONVEXITY                                   24674 non-null float64
EVAL UPPER THRESHOLD YIELD CHANGE           24674 non-null float64
EVAL MID YIELD CHANGE                       24674 non-null float64
EVAL LOWER THRESHOLD YIELD CHANGE           24674 non-null float64
EVAL LOWER THRESHOLD PRICE CHANGE           24674 non-null float64
EVAL MID PRICE CHANGE                       24674 non-null float64
EVAL UPPER THRESHOLD PRICE CHANGE           24674 non-null float64
COMPOSITE LIQUIDITY SCORE (T-1)             24674 non-null float64
FACILITY CODE                               24674 non-null object
ISIN CODE_y                                 24674 non-null object
STOCK NAME_y                                24674 non-null object
ISSUER NAME                                 24674 non-null object
PRINCIPLE                                   24674 non-null object
BOND TYPE                                   24674 non-null object
BOND CLASS                                  24674 non-null object
RATING                                      24674 non-null object
RATING AGENCY                               24674 non-null object
ISSUE DATE                                  24674 non-null object
MATURITY DATE                               24674 non-null object
EXPECTED MATURITY DATE                      2338 non-null object
DAY COUNT BASIS                             24674 non-null object
COUPON FREQUENCY                            24585 non-null float64
FIRST PAYMENT DATE                          23564 non-null object
PREVIOUS PAYMENT DATE                       22847 non-null object
PREVIOUS COUPON RATE                        22847 non-null float64
NEXT PAYMENT DATE                           24583 non-null object
NEXT COUPON RATE                            24583 non-null float64
FACILITY AMOUNT/FACILITY LIMIT(MYR MIL)     24674 non-null int64
FACILITY OUTSTANDING AMOUNT(MYR MIL)        24674 non-null int64
BOND ISSUE AMOUNT(MYR MIL)                  24674 non-null int64
BOND CURRENT OUTSTANDING AMOUNT(MYR MIL)    24674 non-null int64
REMAINING TENURE                            24674 non-null object
ISSUER FACILITY LIMIT(MYR MIL)              24674 non-null int64
ISSUER OUTSTANDING AMOUNT(MYR MIL)          24674 non-null int64
ISLAMIC CONCEPT                             20475 non-null object
SECTOR                                      24674 non-null object
RATING EFFECTIVE DATE                       24674 non-null object
CALLABLE/PUTTABLE                           24674 non-null object
CONVERTIBLE/EXCHANGABLE                     24674 non-null object
RATING ACTION                               24674 non-null object
dtypes: float64(18), int64(6), object(27)
memory usage: 9.8+ MB

### change data type of date time

In [29]:
df['VALUE DATE']=pd.to_datetime(df['VALUE DATE'])
df['MATURITY DATE']=pd.to_datetime(df['MATURITY DATE'])
df['ISSUE DATE']=pd.to_datetime(df['ISSUE DATE'])

In [30]:
df= df.sort_values(['STOCK CODE','VALUE DATE'])

In [31]:
df.head(10)

,STOCK CODE,ISIN CODE_x,STOCK NAME_x,VALUE DATE,EVAL UPPER THRESHOLD YIELD,EVAL MID YIELD,EVAL LOWER THRESHOLD YIELD,EVAL LOWER THRESHOLD PRICE,EVAL MID PRICE,EVAL UPPER THRESHOLD PRICE,...,BOND CURRENT OUTSTANDING AMOUNT(MYR MIL),REMAINING TENURE,ISSUER FACILITY LIMIT(MYR MIL),ISSUER OUTSTANDING AMOUNT(MYR MIL),ISLAMIC CONCEPT,SECTOR,RATING EFFECTIVE DATE,CALLABLE/PUTTABLE,CONVERTIBLE/EXCHANGABLE,RATING ACTION
1282,DI140013,MYBDI1400139,UNITAPAH 5.06% Series 8 12.12.2019,2019-08-01,3.634,3.581,3.528,100.502,100.521,100.540,...,10,6M,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1270,DI140013,MYBDI1400139,UNITAPAH 5.06% Series 8 12.12.2019,2019-09-03,3.570,3.517,3.464,100.391,100.406,100.420,...,10,3M,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1256,DI140013,MYBDI1400139,UNITAPAH 5.06% Series 8 12.12.2019,2019-10-01,3.482,3.429,3.376,100.297,100.307,100.318,...,10,3M,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1257,DI140013,MYBDI1400139,UNITAPAH 5.06% Series 8 12.12.2019,2019-11-01,3.493,3.435,3.377,100.166,100.172,100.179,...,10,3M,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,09-OCT-2019,N,N,Reaffirm
1252,DI140013,MYBDI1400139,UNITAPAH 5.06% Series 8 12.12.2019,2019-12-02,3.456,3.404,3.352,100.040,100.041,100.042,...,10,3M,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,09-OCT-2019,N,N,Reaffirm
1284,DJ140003,MYBDJ1400038,UNITAPAH 5.17% Series 10 11.12.2020,2019-08-01,3.825,3.772,3.719,101.761,101.832,101.903,...,10,2Y,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1272,DJ140003,MYBDJ1400038,UNITAPAH 5.17% Series 10 11.12.2020,2019-09-03,3.703,3.650,3.597,101.798,101.864,101.930,...,10,2Y,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1258,DJ140003,MYBDJ1400038,UNITAPAH 5.17% Series 10 11.12.2020,2019-10-01,3.640,3.587,3.534,101.765,101.827,101.890,...,10,2Y,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,12-SEP-2018,N,N,Reaffirm
1259,DJ140003,MYBDJ1400038,UNITAPAH 5.17% Series 10 11.12.2020,2019-11-01,3.657,3.599,3.541,101.625,101.688,101.751,...,10,2Y,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,09-OCT-2019,N,N,Reaffirm
1254,DJ140003,MYBDJ1400038,UNITAPAH 5.17% Series 10 11.12.2020,2019-12-02,3.623,3.571,3.519,101.539,101.592,101.644,...,10,1Y,600,410,MURABAHAH,CONSTRUCTION AND ENGINEERING,09-OCT-2019,N,N,Reaffirm

### ordinal encoding of CALLABLE/PUTTABLE

In [32]:
df['CALLABLE/PUTTABLE'].replace({'Y':1,'N':0},inplace=True)

### selecting features as per requirement in the problem statement

In [33]:
df_clean = df[['STOCK CODE','STOCK NAME_x', 'VALUE DATE', 'EVAL MID YIELD',
       'EVAL MID PRICE','EVAL MID PRICE CHANGE','EVAL MID YIELD CHANGE','MODIFIED DURATION','CONVEXITY',
       'COUPON FREQUENCY', 'NEXT COUPON RATE']]

In [34]:
df_clean.to_csv('combined_data.csv')

In [35]:
df= df[['VALUE DATE','STOCK CODE','STOCK NAME_x', 'EVAL MID YIELD',
       'EVAL MID PRICE','MODIFIED DURATION','COMPOSITE LIQUIDITY SCORE (T-1)',
    'RATING','COUPON FREQUENCY', 'NEXT COUPON RATE','CALLABLE/PUTTABLE','REMAINING TENURE']]

In [36]:
df.head(10)

,VALUE DATE,STOCK CODE,STOCK NAME_x,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),RATING,COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE
1282,2019-08-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.581,100.521,0.358,0.0,AA1,2.0,5.06,0,6M
1270,2019-09-03,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.517,100.406,0.270,0.0,AA1,2.0,5.06,0,3M
1256,2019-10-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.429,100.307,0.195,0.0,AA1,2.0,5.06,0,3M
1257,2019-11-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.435,100.172,0.111,0.0,AA1,2.0,5.06,0,3M
1252,2019-12-02,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.404,100.041,0.026,0.0,AA1,2.0,5.06,0,3M
1284,2019-08-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.772,101.832,1.299,0.0,AA1,2.0,5.17,0,2Y
1272,2019-09-03,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.650,101.864,1.211,0.0,AA1,2.0,5.17,0,2Y
1258,2019-10-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.587,101.827,1.136,0.0,AA1,2.0,5.17,0,2Y
1259,2019-11-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.599,101.688,1.052,0.0,AA1,2.0,5.17,0,2Y
1254,2019-12-02,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.571,101.592,0.969,0.0,AA1,2.0,5.17,0,1Y

### removing outliers

In [41]:
df = df[np.abs(df['EVAL MID PRICE'] - df['EVAL MID PRICE'].mean()) <= (3 * df['EVAL MID PRICE'].std())]

### shift EVAL MID PRICE one month earlier as the output

In [43]:
def series_to_supervise(df, s=-1):
    shifted_df = df.shift(s)
    shifted_df.rename(columns= {'EVAL MID PRICE':'OUTPUT PRICE'}, inplace=True)
    y_out = shifted_df['OUTPUT PRICE']
    del shifted_df
    
    return pd.concat([df, y_out], axis=1)

In [44]:
grouped = df.groupby(['STOCK CODE'])
grouped

In [45]:
final_data = []
for name, data in grouped:
    data_sup = series_to_supervise(data)
    data_sup.dropna(subset=['OUTPUT PRICE'], inplace=True)
    final_data.append(data_sup)

In [46]:
df_sup = pd.concat(final_data)

In [50]:
df_sup.head()

,VALUE DATE,STOCK CODE,STOCK NAME_x,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),RATING,COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE
1282,2019-08-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.581,100.521,0.358,0.0,AA1,2.0,5.06,0,6M,100.406
1270,2019-09-03,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.517,100.406,0.270,0.0,AA1,2.0,5.06,0,3M,100.307
1256,2019-10-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.429,100.307,0.195,0.0,AA1,2.0,5.06,0,3M,100.172
1257,2019-11-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.435,100.172,0.111,0.0,AA1,2.0,5.06,0,3M,100.041
1284,2019-08-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.772,101.832,1.299,0.0,AA1,2.0,5.17,0,2Y,101.864

### change to first day of VALUE DATE  to remain consistent

In [52]:
df_sup['VALUE DATE'] =df_sup['VALUE DATE'].to_numpy().astype('datetime64[M]')

In [53]:
df_sup.shape

(22585, 13)

### encode RATING using Target Encoding

In [54]:
df_sup['RATING'].value_counts()

AA3            3741
AA- IS         3600
AA1            3259
AAA            2652
AAA IS         2077
AA2            1217
A1              750
AAA (S)         738
A+ IS           683
AA+ IS          617
AAA (FG)        503
AA-             447
AA IS           392
AAA (BG)        345
AA1 (S)         278
AAA IS (FG)     206
A IS            196
AA- IS (CG)     144
AA3 (S)         119
AA2 (S)         118
A3              110
AA+              96
AA               71
A- IS            54
A2               44
A2 (S)           43
A+ IS (S)        41
A1 (S)           27
A-               17
Name: RATING, dtype: int64

In [60]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.4.0-py2.py3-none-any.whl (86 kB)
Requirement already satisfied: numpy>=1.14.0 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: pandas>=0.21.1 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (0.25.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (1.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: six in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=0.11 in c:\users\jowen\anaconda3\envs\azureml\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.4.0

In [61]:
from category_encoders import TargetEncoder

In [62]:
## replace feature with a probability of the target given this particular categorical value

from category_encoders import TargetEncoder
encoder = TargetEncoder()
df_sup['RATING TARGET'] = encoder.fit_transform(df_sup['RATING'],df_sup['OUTPUT PRICE'])

In [63]:
df_sup.drop(['RATING'],axis=1,inplace=True)

In [64]:
df_sup.shape

(22585, 13)

In [72]:
df_sup = df_sup.sort_values(['STOCK CODE','VALUE DATE'])

### import OPR rate we find fron Internet

In [73]:
df_opr = pd.read_csv('interest-rates.csv')

In [74]:
df_opr['VALUE DATE']=pd.to_datetime(df_opr['Date'])

In [75]:
df_opr = df_opr[['VALUE DATE','Overnight']]

In [76]:
df_opr.head()

  VALUE DATE  Overnight
0 2019-08-01       3.00
1 2019-08-02       3.00
2 2019-08-03       3.00
3 2019-08-04       3.00
4 2019-08-05       2.91

In [77]:
first_day = df_sup['VALUE DATE'].unique()
first_day.shape

(15,)

In [78]:
first_day

array(['2019-08-01T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-05-01T00:00:00.000000000',
       '2020-06-01T00:00:00.000000000', '2020-07-01T00:00:00.000000000',
       '2020-08-01T00:00:00.000000000', '2020-09-01T00:00:00.000000000',
       '2020-10-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [79]:
df_opr1 = df_opr[df_opr['VALUE DATE'].isin(first_day)]

In [80]:
df_opr1

    VALUE DATE  Overnight
0   2019-08-01       3.00
31  2019-09-01       3.00
61  2019-10-01       2.93
92  2019-11-01       2.92
122 2019-12-01       2.99
153 2020-01-01       3.00
184 2020-02-01       2.66
213 2020-03-01       2.75
244 2020-04-01       2.50
274 2020-05-01       2.50
305 2020-06-01       2.00
335 2020-07-01       2.00
366 2020-08-01       1.75
392 2020-09-01       1.75
393 2020-09-01       1.75
410 2020-10-01       1.75

In [81]:
df_opr1 = df_opr1.drop(393)

In [82]:
df_opr1

    VALUE DATE  Overnight
0   2019-08-01       3.00
31  2019-09-01       3.00
61  2019-10-01       2.93
92  2019-11-01       2.92
122 2019-12-01       2.99
153 2020-01-01       3.00
184 2020-02-01       2.66
213 2020-03-01       2.75
244 2020-04-01       2.50
274 2020-05-01       2.50
305 2020-06-01       2.00
335 2020-07-01       2.00
366 2020-08-01       1.75
392 2020-09-01       1.75
410 2020-10-01       1.75

### merge with orginal data

In [83]:
df_sup = df_sup.merge(df_opr1,on='VALUE DATE')

In [84]:
df_sup.rename(columns={'Overnight':'OPR level','STOCK NAME_x':'STOCK NAME'},inplace=True)

In [85]:
df_sup.describe()

,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,OUTPUT PRICE,RATING TARGET,OPR level
count,22585.000000,22585.000000,22585.000000,22585.000000,22534.000000,22533.000000,22585.000000,22585.000000,22585.000000,22585.000000
mean,3.776882,105.818304,4.390052,1.111379,2.024496,5.191242,0.095683,106.002855,106.002855,2.501351
std,0.773020,5.348487,2.969763,1.196650,0.325029,1.186308,0.294162,5.452882,1.816977,0.490802
min,2.032000,87.959000,0.000000,0.000000,1.000000,0.000000,0.000000,87.076000,98.226786,1.750000
25%,3.323000,101.911000,1.929000,0.000000,2.000000,4.670000,0.000000,102.000000,104.943327,2.000000
50%,3.695000,104.194000,3.830000,0.000000,2.000000,5.050000,0.000000,104.376000,106.423470,2.660000
75%,4.103000,108.512000,6.541000,2.300000,2.000000,5.500000,0.000000,108.759000,107.172390,2.990000
max,13.351000,125.437000,15.594000,4.300000,12.000000,22.180000,1.000000,125.437000,112.439383,3.000000

In [86]:
df= df_sup.sort_values(['STOCK CODE','VALUE DATE'])

In [87]:
df.head()

,VALUE DATE,STOCK CODE,STOCK NAME,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.581,100.521,0.358,0.0,2.0,5.06,0,6M,100.406,106.145241,3.00
1486,2019-09-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.517,100.406,0.270,0.0,2.0,5.06,0,3M,100.307,106.145241,3.00
2978,2019-10-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.429,100.307,0.195,0.0,2.0,5.06,0,3M,100.172,106.145241,2.93
4470,2019-11-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.435,100.172,0.111,0.0,2.0,5.06,0,3M,100.041,106.145241,2.92
1,2019-08-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.772,101.832,1.299,0.0,2.0,5.17,0,2Y,101.864,106.145241,3.00

In [90]:
df.shape

(22585, 14)

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22585 entries, 0 to 22584
Data columns (total 14 columns):
VALUE DATE                         22585 non-null datetime64[ns]
STOCK CODE                         22585 non-null object
STOCK NAME                         22585 non-null object
EVAL MID YIELD                     22585 non-null float64
EVAL MID PRICE                     22585 non-null float64
MODIFIED DURATION                  22585 non-null float64
COMPOSITE LIQUIDITY SCORE (T-1)    22585 non-null float64
COUPON FREQUENCY                   22534 non-null float64
NEXT COUPON RATE                   22533 non-null float64
CALLABLE/PUTTABLE                  22585 non-null int64
REMAINING TENURE                   22585 non-null object
OUTPUT PRICE                       22585 non-null float64
RATING TARGET                      22585 non-null float64
OPR level                          22585 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(3)
memory usage: 2.6+ MB

In [187]:
remaining_tenure_dict={'5Y':60,'10Y':120,'15Y':180,'7Y':84,'3Y':36,'2Y':24,'1Y':12,'20Y':240,'3M':3,'6M':6,'25Y+':300,'25Y':300}

In [108]:
def convertMonths(r):
    if r[-1].__eq__('+'):
        r = r[:-1]
    
    if r[-1].__eq__('Y'):
        return int(r[:-1])*12
    elif r[-1].__eq__('M'):
        return int(r[:-1])

In [111]:
df['REMAINING TENURE'] = df['REMAINING TENURE'].apply(lambda x : convertMonths(x))

In [113]:
df['REMAINING TENURE'].value_counts()

120    3955
60     3775
84     3219
180    2969
36     2615
24     2465
12     1271
240     678
3       608
6       583
300     447
Name: REMAINING TENURE, dtype: int64

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22585 entries, 0 to 22584
Data columns (total 14 columns):
VALUE DATE                         22585 non-null datetime64[ns]
STOCK CODE                         22585 non-null object
STOCK NAME                         22585 non-null object
EVAL MID YIELD                     22585 non-null float64
EVAL MID PRICE                     22585 non-null float64
MODIFIED DURATION                  22585 non-null float64
COMPOSITE LIQUIDITY SCORE (T-1)    22585 non-null float64
COUPON FREQUENCY                   22534 non-null float64
NEXT COUPON RATE                   22533 non-null float64
CALLABLE/PUTTABLE                  22585 non-null int64
REMAINING TENURE                   22585 non-null int64
OUTPUT PRICE                       22585 non-null float64
RATING TARGET                      22585 non-null float64
OPR level                          22585 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(2), object(2)
memory usage: 2.6+ MB

### drop STOCK CODE with insufficient data

In [115]:
insufficient_data_index = []
for index in set(df['STOCK CODE']):
    df_temp = df.loc[df['STOCK CODE']==index,:]
    x = len(df_temp)
    if x < 4:
        insufficient_data_index.append(index)

In [116]:
len(insufficient_data_index)

127

In [117]:
df.drop(df[df['STOCK CODE'].isin(insufficient_data_index)].index, inplace = True)

In [118]:
df.head()

,VALUE DATE,STOCK CODE,STOCK NAME,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.581,100.521,0.358,0.0,2.0,5.06,0,6,100.406,106.145241,3.00
1486,2019-09-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.517,100.406,0.270,0.0,2.0,5.06,0,3,100.307,106.145241,3.00
2978,2019-10-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.429,100.307,0.195,0.0,2.0,5.06,0,3,100.172,106.145241,2.93
4470,2019-11-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.435,100.172,0.111,0.0,2.0,5.06,0,3,100.041,106.145241,2.92
1,2019-08-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.772,101.832,1.299,0.0,2.0,5.17,0,24,101.864,106.145241,3.00

### dealing with Missing Value

In [133]:
df['NEXT COUPON RATE'] = df['NEXT COUPON RATE'].fillna(df['NEXT COUPON RATE'].mean())

In [134]:
df['COUPON FREQUENCY'] = df['COUPON FREQUENCY'].fillna(df['COUPON FREQUENCY'].mean())

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22306 entries, 0 to 22581
Data columns (total 14 columns):
VALUE DATE                         22306 non-null datetime64[ns]
STOCK CODE                         22306 non-null object
STOCK NAME                         22306 non-null object
EVAL MID YIELD                     22306 non-null float64
EVAL MID PRICE                     22306 non-null float64
MODIFIED DURATION                  22306 non-null float64
COMPOSITE LIQUIDITY SCORE (T-1)    22306 non-null float64
COUPON FREQUENCY                   22306 non-null float64
NEXT COUPON RATE                   22306 non-null float64
CALLABLE/PUTTABLE                  22306 non-null int64
REMAINING TENURE                   22306 non-null int64
OUTPUT PRICE                       22306 non-null float64
RATING TARGET                      22306 non-null float64
OPR level                          22306 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(2), object(2)
memory usage: 2.6+ MB

In [136]:
df_list =['VN140167', 'VO180016', 'PU110040', 'VS180380', 'VZ170398',
       'VN190102', 'UI180018', 'UN170079', 'VT080773', 'VI170138']

In [137]:
df[df['STOCK CODE']=='VI170138']

,VALUE DATE,STOCK CODE,STOCK NAME,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
587,2019-08-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.948,102.374,2.438,3.3,2.0,4.9,0,36,102.762,104.759007,3.00
2071,2019-09-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.760,102.762,2.352,3.0,2.0,4.9,0,36,102.647,104.759007,3.00
3554,2019-10-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.778,102.647,2.335,3.0,2.0,4.9,0,36,102.528,104.759007,2.93
5034,2019-11-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.791,102.528,2.252,2.7,2.0,4.9,0,36,102.452,104.759007,2.92
6540,2019-12-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.786,102.452,2.169,2.7,2.0,4.9,0,36,102.356,104.759007,2.99
8062,2020-01-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.790,102.356,2.085,2.3,2.0,4.9,0,36,102.740,104.759007,3.00
9606,2020-02-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.564,102.740,2.002,0.0,2.0,4.9,0,36,103.149,104.759007,2.66
11129,2020-03-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.316,103.149,1.929,0.0,2.0,4.9,0,36,102.539,104.759007,2.75
12646,2020-04-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.568,102.539,1.888,0.0,2.0,4.9,0,24,102.997,104.759007,2.50
14161,2020-05-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.260,102.997,1.803,0.0,2.0,4.9,0,24,103.246,104.759007,2.50
15663,2020-06-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.055,103.246,1.729,0.0,2.0,4.9,0,24,103.050,104.759007,2.00
17156,2020-07-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,3.086,103.050,1.648,3.0,2.0,4.9,0,24,103.457,104.759007,2.00
18641,2020-08-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,2.743,103.457,1.562,2.7,2.0,4.9,0,24,103.487,104.759007,1.75
20130,2020-09-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,2.621,103.487,1.484,2.3,2.0,4.9,0,24,103.292,104.759007,1.75
21632,2020-10-01,VI170138,ALDZAHAB ABS-IMTN 29.03.2022(CLASS A TRANCHE 3...,2.639,103.292,1.441,2.3,2.0,4.9,0,24,103.207,104.759007,1.75

In [138]:
df.to_csv('data.csv')

In [139]:
code_list = df['STOCK CODE'].unique()

In [140]:
len(code_list)

1637

In [141]:
code_name_np = df[['STOCK CODE','STOCK NAME']].to_numpy()

In [142]:
code_name_np

array([['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
       ['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
       ['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
       ...,
       ['VZ190187', 'MAYBANK IMTN 4.130% PERPETUAL'],
       ['VZ190187', 'MAYBANK IMTN 4.130% PERPETUAL'],
       ['VZ190187', 'MAYBANK IMTN 4.130% PERPETUAL']], dtype=object)

In [143]:
code_list = code_name_np.tolist()

In [144]:
code_list[:10]

[['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
 ['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
 ['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
 ['DI140013', 'UNITAPAH 5.06% Series 8 12.12.2019'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020'],
 ['DJ140003', 'UNITAPAH 5.17% Series 10 11.12.2020']]

### take around 70 % of the data (earlier date) as train set

In [145]:
train_set = df[df['VALUE DATE']<'10/1/2020']

In [146]:
test_set = df[df['VALUE DATE']>='10/1/2020']

In [147]:
train_set.shape,test_set.shape

((20873, 14), (1433, 14))

In [148]:
test_set.head()

,VALUE DATE,STOCK CODE,STOCK NAME,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
21083,2020-10-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,2.471,100.511,0.192,0.0,2.0,5.17,0,3,100.296,106.145241,1.75
21084,2020-10-01,DK140037,UNITAPAH 5.28% Series 12 10.12.2021,2.673,103.030,1.138,0.0,2.0,5.28,0,24,102.943,106.145241,1.75
21085,2020-10-01,DK140038,UNITAPAH 5.23% Series 11 11.06.2021,2.583,101.803,0.672,0.0,2.0,5.23,0,12,101.663,106.145241,1.75
21086,2020-10-01,DL140035,UNITAPAH 5.39% Series 14 12.12.2022,2.783,105.512,2.044,0.0,2.0,5.39,0,36,105.463,106.145241,1.75
21087,2020-10-01,DL140036,UNITAPAH 5.34% Series 13 10.06.2022,2.734,104.272,1.594,0.0,2.0,5.34,0,24,104.202,106.145241,1.75

In [150]:
train_set.head()

,VALUE DATE,STOCK CODE,STOCK NAME,EVAL MID YIELD,EVAL MID PRICE,MODIFIED DURATION,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.581,100.521,0.358,0.0,2.0,5.06,0,6,100.406,106.145241,3.00
1486,2019-09-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.517,100.406,0.270,0.0,2.0,5.06,0,3,100.307,106.145241,3.00
2978,2019-10-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.429,100.307,0.195,0.0,2.0,5.06,0,3,100.172,106.145241,2.93
4470,2019-11-01,DI140013,UNITAPAH 5.06% Series 8 12.12.2019,3.435,100.172,0.111,0.0,2.0,5.06,0,3,100.041,106.145241,2.92
1,2019-08-01,DJ140003,UNITAPAH 5.17% Series 10 11.12.2020,3.772,101.832,1.299,0.0,2.0,5.17,0,24,101.864,106.145241,3.00